[submodule "libs/OpenFX"]
	path = libs/OpenFX
	url = https://github.com/NatronGitHub/openfx.git
[submodule "libs/SequenceParsing"]
	path = libs/SequenceParsing
	url = https://github.com/NatronGitHub/SequenceParsing
[submodule "libs/google-breakpad"]
	path = libs/google-breakpad
	url = https://github.com/NatronGitHub/google-breakpad.git
